header {
  display: flex;
  align-items: center;

  .logo {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/lewis.png") no-repeat center/contain;
    margin-right: 8px;
  }

  .name {
    font-size: 16px;
    line-height: 24px;
    font-family: "Poetsen One", sans-serif;
    text-wrap: nowrap;
  }
}

.last-rank {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poetsen One", sans-serif;
  color: #d40000;
}

.race-schedule {
  margin: 10px 0;

  h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 5px 0;
    font-size: 14px;
  }
}
